@import 'variables';

html {
	font-size: 30px;
	@media #{$large-up} {
		font-size: 16px;
	}
}

body {
	background-image: url("/assets/images/pw_pattern.png");
	color: #444343;
}

h1, p {
	font-family: 'Fjord One', serif;
	color: rgb(108, 108, 108);
}

a {
	color: #395491;
	&.nav-link {
		border-bottom: 1px solid rgba(52,73,94,0.4);
		-webkit-transition: background-color 0.3s, border-color 0.3s;
		transition: background-color 0.3s, border-color 0.3s;

		&.back { color: #833C3C; }
		&:hover, &:focus {
			border-color: rgba(52,73,94,0);
			background-color: rgba(54, 111, 223, 0.15);
			color: #395491;

			&.back {
				background-color: rgba(226, 116, 116, 0.15);
				color: #833C3C;
			}
		}
	}
}

.section {
	@media #{$medium-up} {
		width: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
	padding: 0 20px;

	h1 {
		text-align: center;
		-webkit-animation: fadein 2s;
		animation: fadein 2s;
	}
}

@-webkit-keyframes fadein {
   0% {opacity: 0;}
   100% {opacity:1;}
}
