@import 'settings';

#programming {
	#languages {
		max-height: 400px;
		overflow-x: hidden;
		.language-icon {
			text-align: center;
			i {
				font-size: 100px;
			}
		}
		pre {
			&.ruby {
				-webkit-animation: type 5s steps(50, end);
				animation: type 5s steps(50, end);
			}
			&.javascript, &.java, &.cpp {
				-webkit-animation: type 8s steps(100, end);
				animation: type 8s steps(100, end);
			}
			width: 100%;
			overflow-x: hidden !important;
		}
		code {
			border: none;
			background: none;
		}
	}
}

@keyframes type {
	from { width: 0 }
}

@-webkit-keyframes type {
	from { width: 0; }
}