#social {
  #map_canvas {
    width: 400px;
    height: 400px;
  }
  li {
    list-style-type: none;
    .nav-link {
      p { color: #395491; }
    }
    p {
      display: inline-block;
      margin: 0;
    }
  }
}

