body {
	background-image: url("/assets/images/pw_pattern.png");
	color: #444343;
}

h1, p {
	font-family: 'Fjord One', serif;
	color: rgb(108, 108, 108);
}

a.nav-link {
	border-bottom: 1px solid rgba(52,73,94,0.4);
	-webkit-transition: background-color 0.3s, border-color 0.3s;
	transition: background-color 0.3s, border-color 0.3s;

	&.back { color: rgb(241, 88, 88); }

	&:hover, &:focus {
		border-color: rgba(52,73,94,0);
		background-color: rgba(208, 231, 251, 0.75);

		&.back {
			background-color: rgba(255, 207, 207, 0.75);
		}
	}

}

.section {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	padding: 0 20px;

	h1 {
		text-align: center;
		-webkit-animation: mymove 2s;
		animation: mymove 2s;
	}
}

@-webkit-keyframes mymove {
   0% {opacity: 0;}
   100% {opacity:1;}
}
