<:Title>
	Social - Dan Reynolds

<:Body>
	<div class="container" id="about">
		<div class="row title">
			<h1>I exist.</h1>
		</div>
	  <div class="row">
			<div class="large-12 small-12 columns">
				<p>
					To verify this, here's my
	  			<a href="mailto:me@danreynolds.ca"> email.</a>
	  			I am in third year Computer Science at the University of Waterloo. Originally hailing from Burlington (smog-free Hamilton), these days I can typically be found in Uptown Waterloo. If I had an opinion on things, I would employ it to make things happen. Now I must make some opinions. That's pretty much it about 
	  			<a href="/" class="back">me.</a>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="large-12 small-12 columns">
	  		<div id="map_canvas"></div>
	  	</div>
	  </div>
	</div>