<:Title>
  Dan Reynolds

<:Body>
	<div class="section" id="index">
		<div class="container">
		  <div class="row">
		  	<div class="large-12 small-12 columns">
		  		<h1>Who am I?</h1>
		  	</div>
		  	<div class="row">
		  		<div class="large-12 small-12 columns">
			  		<p>
			  			I'm a
			  			<a class="nav-link" href="/about">guy.</a>
			  			Checkout what I've been
			  			<a class="nav-link" href="/social">up to lately.</a>
			  			I often like to 
			  			<a class="nav-link" href="/programming"> program.</a>
		  			If I'm not, it's probably because it is summer and I'm
			  			<a class="nav-link" href="/recreation">outside.</a>
			  			I work too. With a bunch of great guys. There are really a bunch of things I do. I can probably be found in Waterloo.
			  		</p>
			  		</div>
			  	</div>
		  	</div>
		  </div>
		</div>
	</div>


