<Head>
  {{ template main_path, "head", {controller_group: 'main'} }}

<:Title>
  {{ template main_path, "title", {controller_group: 'main'} }}

<:Body>
  <div e-click="change_colour" class="header">
    <div class="title">
      <a href="/">
        <h1>Dan Reynolds</h1>
        <p>Person. Adult. Male. Generic human.</p>
      </a>
    </div>
  </div>
  {{ template main_path, 'body', {controller_group: 'main'} }}

<:Nav>
  <li class="{{ if url.path.split('/')[1] == attrs.href.split('/')[1] }}active{{ end }}">
    <a href="{{ attrs.href }}">{{ attrs.text }}</a>
  </li>
