<:Title>
	Social - Dan Reynolds

<:Body>
	<div class="container" id="social">
		<div class="row title">
			<h1>I am out there.</h1>
		</div>
		<div class="row">
			<div class="large-12 small-12 columns">
				<p>
					To verify this, I am available on 
	  			<a href="https://twitter.com/TheDerivative">Twitter,</a>
	  			<a href="http://ca.linkedin.com/pub/daniel-reynolds/63/569/32a">LinkedIn,</a>
					and all of those good things. All you have to do is talk to me. I generally find it pretty easy to be
	  			<a class="back" href="/"> social.</a>
				</p>
			</div>
		</div>
		<div class="row">
			<ul>
				{{page._activities.each do |activity|}}
				<li>
					<a href="{{activity._url}}">{{activity._description}}</a>
					on {{activity._repo}}
				</li>
				{{end}}
			</ul>
		</div>
	</div>
